.header {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('../images/background.jpg');
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  .word {
    justify-content: center;
    text-align: center;
    span {
      padding: 10px;
      margin: 10px;
      width: 20%;
      font-size: 70px;
      font-family: $font-header;
      font-weight: $font-bold;
      text-align: center;
      color: $white;
    }
  }
}

.main-nav {
  position: relative;
  a {
    padding: 20px;
    margin: 20px 20px;
    text-transform: uppercase;
    color: $grey;
    font-family: $font-text;
    font-weight: $font-semibold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-align: center;
    &.active {
      color: lighten(#333333, 60%);
    }
  }
  a:hover {
    color: $white;
  }
}

.title {
  position: relative;
  padding: 10px;
  margin: 10px 10px;
}

.subscribe {
  background-image: url('../images/subscribe.jpg');
  background-size: cover;
  height: 1000px;
  position: relative;
  text-align: center;
  .btn-secondary {
    background: #ff0000;
    color: #fff;
    border-color: #ff0000;
    border-radius: 4px;
    transition: all 0.3s;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 18px;
    font-family: $font-header;
    font-weight: $font-bold;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
}