h3 {
  text-transform: uppercase;
  font-family: $font-text;
  font-weight: $font-semibold;
  letter-spacing: 6px;
  line-height: 1.5;
  font-size: 16px;
  color: $white;
}

h4 {
  font-family: $font-text;
  font-weight: $font-semibold;
  line-height: 1.5;
  font-size: 14px;
  color: $white;
}