$dark: #131313;
$white: #fff;
$red: #cf383e;
$grey: #808080;

$font-header: 'Source Sans Pro Bold', sans-serif;
$font-text: 'Source Sans Pro Regular', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;

$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;